<div class="container">
  <dl>
    <div class="alert alert-warning alert-dismissible" role="alert">
      <strong>以下の内容で記録します</strong>
  </div>

  <%= form_with(model: @record, url: records_path, local: true) do |form| %>
    <%= form.hidden_field :content %>
    <h3><%= @record.content %></h3>
  </dl>
</div>
  <button type="button">
    <%= form.submit '登録する', :class=> "btn-primary btn-lg"  %>
  </button>
<% end %>

<%= form_with(model: @record, url: new_record_path, local: true, method: 'get') do |form| %>
  <%= form.hidden_field :content %>
  <button type="button", id="back">
    <%= form.submit '戻る', name: 'back', :class=> "btn-primary btn-lg" %>
  </button>
<% end %>