<h1>つぶやき一覧</h1>

<p><%= notice %></p>



<div class="container">
  <dl>
    <% @records.each do |record| %>
      <h3><%= record.content %></h3>
      <button type="button" class="btn btn-info">
        <%= link_to '編集', edit_record_path(record.id), data: { confirm: '本当に編集していいですか？'} %>
      </button>
      <button type="button" class="btn btn-warning">
        <%= link_to '削除', record_path(record.id), method: :delete, data: { confirm: '本当に削除していいですか？'} %>
      </button>
    <% end %>
  </dl>
</div>

<button type="button" class="btn btn-default btn-lg">
  <%= link_to '新しくブログを作成する', new_record_path %>
</button>
