<h1>つぶやき一覧</h1>

<p><%= notice %></p>

<table>
  <tr>
    <th>内容</th>
  </tr>

<% @records.each do |record| %>
  <tr>
    <td><%= record.content %></td>
    <td><%= link_to '記録を編集する', edit_record_path(record.id), data: { confirm: '本当に編集していいですか？'} %></td>
    <td><%= link_to '記録を削除する', record_path(record.id), method: :delete, data: { confirm: '本当に削除していいですか？'} %></td>
  </tr>
<% end %>

</table>

<%= link_to '新しくブログを作成する', new_record_path %>