<%= form_with(model: @record, local: true) do |form| %>
  <% if @record.errors.any? %>
    <div id="error_explanation">
      <h2><%= @record.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% @record.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="record_tweet">
    <%= form.text_field :content %>
  </div>
  <%= form.submit %>
<% end %>

<%= link_to 'トップページへ', '' %>
<%= link_to 'つぶやき一覧画面にもどる', records_path %>